body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: red;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;

}

h1, h2{
	font-family: 'Amatic SC', cursive;
}

header h1{
	color: white;
	font-size: 100px;

}

header img{
	border-radius: 150px;
	border: 10px solid black;

}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

}

main img{
	max-width: 100%;
}

h2{
	font-size: 50px;
	color:blue;
	margin: 40px 0px 10px;

}

a{
	color: blue;
}
a:hover{
	color: white;
	background-color: #483a94;
}

footer{
background-color: red;
	text-align: center;
	padding: 50px;

}

footer p{
	margin: 0;
}

p.caption{
	color: #555555;
	font-size: 15px;
	padding: 0px;
	text-align: right;
	font-style: italic;
	margin-top: 0;
}
